.Autocomplete {
  width: 20rem;

  .InputContainer {
    position: relative;
  }

  .ChipBtn {
    display: inline-block;
    margin: 0.5rem;
    padding: 0.5rem;
    color: $colorTxt;
    font-size: 1.2rem;
    background-color: transparent;
    border: 0.1rem solid $color2;
    border-radius: 0.4rem;
    cursor: pointer;

    &:hover {
      background-color: $color3;
    }
  }

  .ArrowBtn {
    position: absolute;
    top: 1.5rem;
    right: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    cursor: pointer;
  }

  .ArrowUp {
    width: 0;
    height: 0;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    border-bottom: 0.5rem solid lightgrey;
    transform: rotate(180deg);
    transition: transform 500ms ease-in-out;
  }

  .ArrowDown {
    width: 0;
    height: 0;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    border-top: 0.5rem solid lightgrey;
    transform: rotate(-180deg);
    transition: transform 500ms ease-in-out;
  }
}
