.Autocomplete {
  width: 100%;

  .InputContainer {
    position: relative;
  }

  .ChipBtn {
    display: inline-block;
    margin: 0.5rem;
    padding: 0.5rem;
    color: $color_3_brand;
    font-size: 1.2rem;
    background-color: transparent;
    border: 0.1rem solid $color_6_brand;
    border-radius: 0.4rem;
    box-shadow: $boxShadow_2;
    transition: all $transitionNormal ease-in-out;
    cursor: pointer;

    &:hover {
      color: $color_1_brand;
      background-color: $color_2_brand;
      border-color: $color_1_brand;
    }
  }

  .ArrowBtn {
    position: absolute;
    right: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    cursor: pointer;

    @include centerY();
  }

  .ArrowUp {
    width: 0;
    height: 0;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    border-bottom: 0.5rem solid $color_8_brand;
    transform: rotate(180deg);
    transition: transform 500ms ease-in-out;
  }

  .ArrowDown {
    width: 0;
    height: 0;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    border-top: 0.5rem solid $color_8_brand;
    transform: rotate(-180deg);
    transition: transform 500ms ease-in-out;
  }

  .ArrowOnInputFocus {
    border-top: 0.5rem solid $color_3_brand;
  }
}
