$recourcePath: "/src/assets";

//  colors:
$color1: #4c628b;
$color2: #356e5d;
$color3: #de5555;
$color4: #54b4ec;
$color5: #f5f5f5;
$color6: #085f53;
$color7: #713559;
$color8: #685e57; // #634f3a;
$color9: #3b6290;
$color10: #9c6c6c;
$color11: #b6bbbd;
$color12: #b1461d;
$color13: #817d41;
$color14: #d89b13;
$color15: #1d3d77;
$color16: #04881c;
$color17: #5a70ec;
$color18: #c0b282;
$color19: #73808d;
$color20: #e187e4;
$color21: #0ddf87;
$color22: #3fabbe;
$color23: #d11f55;
$color24: #99da93;
$color25: #d0d321;
$color26: #8b27dd;
$color27: #fcfa8d;

$color_1_brand: #2c2e2b;
$color_2_brand: #f2951f;
$color_3_brand: #bfbebf;
$color_4_brand: #accc58;
$color_5_brand: #ebf3d9;
$color_6_brand: #9d9c9e;
$color_7_brand: #accc58;
$color_8_brand: #495057;
$color_9_brand: #497bb7;
$color_10_brand: #ffffff;

// borders:
$borderRadius: 0.4rem;

// box-shadows:
$boxShadow_1: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
  rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;

$boxShadow_2: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
  rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

// fonts-sizes:
$fontXS: 1rem;
$fontSmall: 1.2rem;
$fontMedium: 1.4rem;
$fontLarge: 1.6rem;
$fontXL: 1.8rem;
$fontXXL: 2rem;
$fontXXXL: 3rem;

// offsets:
$offsetMin: 0.1rem;
$offsetTiny: 0.5rem;
$offsetSmall: 1rem;
$offsetMedium: 2rem;
$offsetLarge: 3rem;
$offsetXL: 4rem;
$offsetXXL: 5rem;

// transitions:
$transitionFast: 200ms;
$transitionNormal: 300ms;
$transitionSlow: 500ms;

:export {
  color1: $color1;
  color2: $color2;
  color3: $color3;
  color4: $color4;
  color5: $color5;
  color6: $color6;
  color7: $color7;
  color8: $color8;
  color9: $color9;
  color10: $color10;
  color11: $color11;
  color12: $color12;
  color13: $color13;
  color14: $color14;
  color15: $color15;
  color16: $color16;
  $color17: $color17;
  $color18: $color18;
  $color19: $color19;
  $color20: $color20;
  $color21: $color21;
  $color22: $color22;
  $color23: $color23;
  $color24: $color24;
  $color25: $color25;
  $color26: $color26;
  $color27: $color27;
  recourcePath: $recourcePath;
}
