.Sidebar {
  width: 23rem;
  padding: $offsetXXL $offsetMedium;
  background-color: $color_1_brand;
}

.ModalContentClass {
  background-color: $color_11_error;
}

.ModalWarn {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: $color_12_error;
  font-size: 2rem;
}
