.Sidebar {
  width: 23rem;
  padding: $offsetXXL $offsetMedium;
  background-color: $color_1_brand;
}

.ModalWarn {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: $offsetLarge;
  color: $color_12_error;
  font-size: 2rem;
  background-color: $color_11_error;
}

.ModalSuccess {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: $offsetLarge;
  color: $color14_success;
  font-size: 2rem;
  background-color: $color_4_brand;
}
