.PlayPause {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 4.2rem;
  padding: 0 $offsetSmall;
  color: $color_1_brand;
  font-size: $fontLarge;
  text-align: center;
  background-color: $color_3_brand;
  border-radius: $borderRadius;
  box-shadow: $boxShadow_2;
  transition: all $transitionNormal ease-in-out;

  &.Play {
    color: $color_12_error;
    background-color: $color_11_error;
  }

  &.Pause {
    color: $color14_success;
    background-color: $color_7_brand;
  }
}
