.Container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 5rem 0;
  text-align: center;
  background-color: rgba($color_1_brand, 0.4);
  cursor: default;

  .Content {
    display: inline-block;

    &.WithInnerScroll {
      width: 100%;
      overflow-x: auto;
    }

    &.WithTransition {
      transition: margin-top 300ms ease-in-out;
    }

    .InnerScrollContent {
      position: relative;
      display: inline-block;
      text-align: initial;

      &:hover [data-dragger-ref="dragger"] {
        border-color: $color4;
      }
    }
  }
}
