.Container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 5rem 0;
  text-align: center;
  background-color: rgba($color_1_brand, 0.4);
  cursor: default;

  .Content {
    padding: $offsetLarge;
    background-color: $color_10_brand;
    border-radius: $borderRadius;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}
